<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>DAWEB</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.example.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/views/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>themSVServlet</display-name>
    <servlet-name>themSVServlet</servlet-name>
    <servlet-class>com.example.themSVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>themSVServlet</servlet-name>
    <url-pattern>/views/themSVServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuaSVServlet</display-name>
    <servlet-name>SuaSVServlet</servlet-name>
    <servlet-class>com.example.SuaSVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuaSVServlet</servlet-name>
    <url-pattern>/views/SuaSVServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoaSVServlet</display-name>
    <servlet-name>XoaSVServlet</servlet-name>
    <servlet-class>com.example.XoaSVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaSVServlet</servlet-name>
    <url-pattern>/views/XoaSVServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>themGVServlet</display-name>
    <servlet-name>themGVServlet</servlet-name>
    <servlet-class>com.example.themGVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>themGVServlet</servlet-name>
    <url-pattern>/views/themGVServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuaGVServlet</display-name>
    <servlet-name>SuaGVServlet</servlet-name>
    <servlet-class>com.example.SuaGVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuaGVServlet</servlet-name>
    <url-pattern>/views/SuaGVServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoaGVServlet</display-name>
    <servlet-name>XoaGVServlet</servlet-name>
    <servlet-class>com.example.XoaGVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaGVServlet</servlet-name>
    <url-pattern>/views/XoaGVServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemHDServlet</display-name>
    <servlet-name>ThemHDServlet</servlet-name>
    <servlet-class>com.example.ThemHDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemHDServlet</servlet-name>
    <url-pattern>/views/ThemHDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThempcsvServlet</display-name>
    <servlet-name>ThempcsvServlet</servlet-name>
    <servlet-class>com.example.ThempcsvServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThempcsvServlet</servlet-name>
    <url-pattern>/views/ThempcsvServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThempcgvServlet</display-name>
    <servlet-name>ThempcgvServlet</servlet-name>
    <servlet-class>com.example.ThempcgvServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThempcgvServlet</servlet-name>
    <url-pattern>/views/ThempcgvServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoaHDServlet</display-name>
    <servlet-name>XoaHDServlet</servlet-name>
    <servlet-class>com.example.XoaHDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaHDServlet</servlet-name>
    <url-pattern>/views/XoaHDServlet</url-pattern>
  </servlet-mapping>
</web-app>